body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

.container {
    max-width: 1000px;
    margin: auto;

}

header {
    color: #fff;
    background: #48C5CE;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 26px;
    font-weight: bold;
}

section {
    padding: 20px;
    background-image: url(/assets/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background: #ffffffbb;
    padding: 20px;
    float: right;
    border-radius: 5px;
}
.formTitle {
    font-size: 16px;
    font-weight: bold;
}
.formDetails {
    margin-top: 15px;
    margin-bottom: 15px;
}
input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
    
}

input[type="submit"] {
    background: #48C5CE;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}