body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

.container {
    max-width: 1000px;
    margin: auto;

}

header {
    color: #fff;
    background: #48C5CE;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 26px;
    font-weight: bold;
}

section {
    padding: 20px;
    background-image: url(/assets/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background: #ffffffbb;
    padding: 20px;
    float: right;
    border-radius: 5px;
}
.formTitle {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.formDetails {
    margin-top: 15px;
    margin-bottom: 15px;
}
input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
    
}

input[type="submit"] {
    background: #48C5CE;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    color: #fff;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}


@media screen and (max-width: 704px) {   

     .formContainer {
        float: none;
        margin: 0 auto;
     }

    .picture{
        width: 200px;
    }

     .description {
        display: block;
        text-align: left;
        padding-top: 30px;
        margin: 0 auto;
     }

     .description h3 {
        text-align: center;
     }
}

@media screen and (max-width: 466px) {

    section {
        padding: 10px;
        height: 75vh;
    }

    .formContainer {
        max-width: 80%;
        height: 90%;

    }

    .formDetails {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    input, select {
        padding: 20px;
    }
    
    .description {
        max-width: 60%;
    }
    
}

@media screen and (max-width: 419px){
    
    .title {
        font-size: 18px;
    }

    section {
        padding: 0;
        height: 80vh;
    }

    .formContainer {
        max-width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .formDetails {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    input, select {
        padding: 15px;
        margin-bottom: 15px; 
    }
    
    h3 {
        font-size: 20px;
    }

    .description {
        text-align: center;
        max-width: 200px;
    }
}
